{% extends 'base.html.twig' %}

{% block sidebar %}
    <nav class="sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('ref_manual') }}">Reference Manual Home</a></li>
            <li><a href="{{ path('calendar')}}">Calendar</a></li>
            <li><a href="{{ path('cosmology')}}">Cosmology</a></li>
            <li><a href="{{ path('astronomy')}}">Astronomy</a></li>
            <li><a href="{{ path('ref_magic')}}">Magic</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('show_god')}}">Gods</a></li>
            <li><a href="{{ path('ref_divines')}}">Divine Beings</a></li>
            <li><a href="{{ path('ref_domains')}}">Domains</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('ref_races')}}">Races</a></li>
            <li><a href="{{ path('ref_classes')}}">Classes</a></li>
            <li><a href="{{ path('ref_lang')}}">Languages</a></li>
      </ul>
    </nav>

{% endblock %}

{% block body %}
  <p>
    Welcome to the Reference Manual for the Elthelas Campaign Setting.  This section, in conjunction with the Player's Handbook, should give you all the
    information you need to create a fully fleshed out character within the campaign setting.  It is of note that the campaign setting includes a lot of
    options that are not part of the Players Handbook, however, most every character you could create with the Player's Handbook alone could find a place
    in the setting, the additional information, options, and other peculiarities contained here should help you make a character that fits, with a
    history that will tie into your campaign.
  </p>
  <p>
    Of note also are the <a href="{{path("history_index")}}" target="_blank">History</a> and
    <a href="{{ path('geography') }}" target="_blank">Geography</a> sections, which contain a wealth of additional information about the world you will be playing in.
    Feel free to explore, and have fun!
  </p>
  <h3>Step by Step Character Creation</h3>
  <p>
    The first thing to remember when building a character is that first and foremost you are creating a person, with a personality and a past.  As such,
    the first things you may want to review are the <a href="{{path("history_index")}}" target="_blank">history</a> and
    <a href="{{ path('geography') }}" target="_blank">geography</a>
    sections, to seek inspiration on who this person is.  Then you can look closer into the particulars of how that character will be built for the game.
  </p>
  <ol>
    <li><a href="{{ path('ref_races') }}" target="_blank">Choose a Race</a>
      <p>
        You don't need to worry about the racial traits yet, they'll come later.  Also, note that languages in Elthelas are not determined by Race
        (and there is no common tongue).  Rather they are determined by ones country of origin, which should be whatever country your character was raised
        in.
      </p>
    </li>
    <li><a href="{{ path('ref_classes') }}" target="_blank">Choose a Class</a>
      <p>Make note of the classes abilities, particularly what stats it relies on (for example wizards are reliant on intelligence).  Also as part of
      this step determine your level based on the experience point total the DM gives you to start at.  If you are level 4 or higher, make note of
      any feats you might want.</p>
    </li>
    <li>Determine Ability Scores
      <p>
        The method for this will be determined by your DM.  The preferred method is to roll 4d6 and drop the lowest number.  Make note of the total,
        and repeat until you have 6 numbers.  Assign each number to one of the six statistics, strength, dexterity, constitution, intelligence, wisdom,
        and charisma.  Finally, add any modifiers due to your race or class levels.
      </p>
    </li>
    <li>Choose a background
    </li>
    <li>Pick skills and proficiencies (based on race, class, and background selections)
    </li>
    <li><a href="{{path('ref_lang')}}" target="_blank">Determine languages known</a></li>
    <li>Add racial traits and class abilities, pick feats if applicable
      <p>
        You may also at this step want to determine what <a href="{{ path('show_god')}}">God</a> your character worships.  Warlocks, sorcerers, druids,
        paladins, and others may also have associations with various <a href="{{ path('ref_divines')}}" target="_blank">Lesser divines</a>, such as
        angels, powerful fey, demons, and eldritch horrors.  Clerics should choose their <a href="{{ path('ref_domains')}}" target="_blank">domain</a>.
      </p>
    </li>
    <li>Determine hit point maximum
      <p>
        Either roll a hit die or pick the average roll (as specified in the PHB) for each level beyond first.  Add your constitution modifier once for
        each class level.
      </p>
    </li>
    <li>Pick equipment
      <p>
        Ask the DM for how to do this.
      </p>
    </li>
    <li>Pick spells known (if applicable)</li>
    <li>Describe your character
      <p>What do they look like? What is their past?  This is all wrapped up in what you've been doing all along, but now commit it to paper.</p>
    </li>
    <li>Fill out remaining portions of the character sheet</li>
  </ol>
{% endblock %}
