{% extends 'base.html.twig' %}
{% block seo %}
	<meta name="description" content="Dungeon Master's Toolset designed with the Elthelas Campaign Setting in mind.
  Includes initiative roller, dungeon master's dashboard, campaign journal, and character creator tool (for use with the dashboard)" />
	<meta name="keywords" content="dungeons, dragons, elthelas, campaign, setting, 5th edition, custom, tools, initiative, dashboard, journal, creator" />
{% endblock %}
{% block sidebar %}
    <nav class="sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{{path("init_roller")}}">Initiative Roll Tool</a></li>
      {% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <li><a href="{{path('creator')}}">Creature Creator</a></li>
        <li><a href="{{path('dashboard')}}">DM Dashboard</a></li>
        <li><a href="{{path('fos_user_profile_show')}}">My Account</a></li>
        <li><a href="{{path('fos_user_change_password')}}">Change Password</a></li>
        <li><a href="{{path('fos_user_security_logout')}}">Log Out</a></li>
      {% else %}
        <li><a href="{{path('fos_user_registration_register')}}">Sign Up</a></li>
        <li><a href="{{path('fos_user_security_login')}}">Sign In</a></li>
      {% endif %}
      {% if app.user and is_granted('ROLE_ADMIN') %}
        <li><a href="#">User Administration</a></li>
      {% endif %}
      </ul>
    </nav>

{% endblock %}