{% extends 'base.html.twig' %}
{% block seo %}
	<meta name="description" content="Dungeon Master's Toolset designed with the Elthelas Campaign Setting in mind.
  Includes initiative roller, dungeon master's dashboard, campaign journal, and character creator tool (for use with the dashboard)" />
	<meta name="keywords" content="dungeons, dragons, elthelas, campaign, setting, 5th edition, custom, tools, initiative, dashboard, journal, creator" />
  <style type="text/css">
    .btn.AppMenuButton {
      display: block;
      width: 100%;
      margin-bottom: 15px;
    }
    .app {
      width: 98%;
      padding: 0.5% 1% 0.5% 1%;
      border: 1px outset gray;
      box-shadow: 10px 10px 5px black;
    }
    #appmenulist {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
    }
    #appmenulist li {
      width: 100%;
    }
    #appmenulist li a {
      width: 100%;
      background-color: rgb(221,221,221);
      color: black;
    }
  </style>
{% endblock %}

{% block body %}
        <script type="text/javascript">
          var loadallpath = "{{ path('get_creatures') }}";
          var loadpath = "{{ path('get_creature', {'id': 1}) }}";
          var updatepath = "{{ path('update_creature', {'id': 0})}}";
          var addpath = "{{ path('add_creature')}}";
          var deletepath = "{{ path('delete_creature', {'id': 0})}}";
          var spells = {{spells | raw }};
          spells.splice(0,2);
        </script>  
<div data-ng-app="dmTools" class="container-fluid">
  <div class="row">
    <div id="content" class="col-sm-10">    
      <div class="app" id="creatureCreator" data-ng-controller="creatureCreator" data-ng-init="init()" style="display: none">
        <h3>Creature Creator</h3>

        <div class="row">
          <div class="form-group col-sm-12">
            <table class="creatureLoad"></table>
          </div>
          <div class="col-md-3 btn-group">
            <input type="button" value="New" id="newchar" ng-click="newChar()" class="btn btn-default" />
            <input type="button" value="Load" id="loadchar" ng-click="loadCreature()" class="btn btn-default"/>
            <input type="button" value="Save" id="savechar" ng-click="saveCreature()" class="btn btn-default"/>
            <input type="button" value="Delete" id="deletechar" ng-click="deleteCreature()" class="btn btn-default" />
          </div>
          <div id="creatoralerts" class="hidden col-md-4 alert alert-success" data-ng-bind="alertcontent">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          </div>
        </div>
        <section id="charform">
          <div class="row">
            <input type="hidden" name="charid" data-ng-model="creature.id" id="charid" value="NOCHARLOADED" />
            <div class="col-md-2 form-group">
              <label>Name: <input type="text" id="name" data-ng-model="creature.name" class="form-control" /></label>
            </div>
            <div class="col-md-2 form-group">
              <label>Class and Level: <input type="text" data-ng-model="creature.classlevel" id="classlevel" class="form-control" /></label>
            </div>
            <div class="col-md-2 form-group">
            <label>Background: <input type="text" id="background" data-ng-model="creature.background" class="form-control" /></label>
            </div>
              
            <div class="col-md-2 form-group">
              <label>Race: <input type="text" id="race" data-ng-model="creature.race" class="form-control" /></label>
            </div>
            
            <div class="col-md-2 form-group">
              <label>Alignment: <input type="text" data-ng-model="creature.alignment" id="alignment" class="form-control" /></label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 form-group">
              <label>Experience: <input type="number" data-ng-model="creature.experience" id="experience" class="form-control" /></label>
            </div>
            
            <div class="col-md-2 form-group">
              <label>CR: <input type="number" id="cr" data-ng-model="creature.cr" class="form-control" /></label>
            </div>
            
            <div class="col-md-2 form-group">
              <label>Proficiency Bonus: <input type="number" data-ng-model="creature.proficiencybonus" id="proficiencybonus" class="form-control" /></label>
            </div>
            <div class="col-md-2 form-group">
              <label>AC <input type="number" id="ac" data-ng-model="creature.ac" class="form-control" /></label>
            </div>
            <div class="col-md-2 form-group">
              <label>Speed <input type="text" id="speed" data-ng-model="creature.speed" class="form-control" /></label>
            </div> 
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>Attributes</h4>
              <label for="str">Strength: <input type="number" id="str" data-ng-model="creature.str" class="form-control" /></label>
              <label for="dex">Dexterity: <input type="number" id="dex" data-ng-model="creature.dex" class="form-control" /></label>
              <label for="con">Constitution: <input type="number" id="con" data-ng-model="creature.con" class="form-control" /></label>
              <label for="intel">Intelligence: <input type="number" data-ng-model="creature.intel" id="intel" class="form-control" /></label>
              <label for="wis">Wisdom: <input type="number" id="wis" data-ng-model="creature.wis" class="form-control" /></label>
              <label for="cha">Charisma: <input type="number" id="cha" data-ng-model="creature.cha" class="form-control" /></label>
            </div>
            <div class="col-md-4">
              <h4>Abilities</h4>
              <label for="hpmax">Max HP: <input type="number" id="hpmax" data-ng-model="creature.hpmax" class="form-control" /></label>
              <label for="hitdice"> Max Hitdice: <input id="hitdice" data-ng-model="creature.hitdice" type="number" class="form-control" /></label>
              <label>Passive Perception <input type="number" data-ng-model="creature.passiveperception" id="passiveperception" class="form-control" /></label>
              <label>Damage Resistances <input type="text" data-ng-model="creature.damageresistances" id="damageresistances" class="form-control" /></label>
              <label>Immunities <input type="text" id="immunities" data-ng-model="creature.immunities" class="form-control" /></label>
              <label>Senses <input type="text" id="senses" data-ng-model="creature.senses" class="form-control" /></label>
              <label>Languages <input type="text" id="languages" data-ng-model="creature.languages" class="form-control" /></label>
            </div>
            <div class="col-md-4">
              <h4>Saves</h4>
              <label>Strength: <input type="number" id="strsave" data-ng-model="creature.strsave" class="form-control" /></label>
              <label>Dexterity: <input type="number" id="dexsave" data-ng-model="creature.dexsave" class="form-control" /></label>
              <label>Constitution: <input type="number" id="consave" data-ng-model="creature.consave" class="form-control" /></label>
              <label>Intelligence: <input type="number" id="intsave" data-ng-model="creature.intsave" class="form-control" /></label>
              <label>Wisdom: <input type="number" id="wissave" data-ng-model="creature.wissave" class="form-control" /></label>
              <label>Charisma: <input type="number" id="chasave" data-ng-model="creature.chasave" class="form-control" /></label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <h4>Skills</h4>
              <label>Acrobatics: <input type="number" id="acrobatics" data-ng-model="creature.acrobatics" class="form-control" /></label>
              <label>Animal Handling: <input type="number" id="animalhandling" data-ng-model="creature.animalhandling" class="form-control" /></label>
              <label>Arcana: <input type="number" id="arcana" data-ng-model="creature.arcana" class="form-control" /></label>
              <label>Athletics: <input type="number" id="athletics" data-ng-model="creature.athletics" class="form-control" /></label>
              <label>Deception: <input type="number" id="deception" data-ng-model="creature.deception" class="form-control" /></label>
              <label>History: <input type="number" id="history" data-ng-model="creature.history" class="form-control" /></label>
              <label>Insight: <input type="number" id="insight" data-ng-model="creature.insight" class="form-control" /></label>
              <label>Intimidation: <input type="number" id="intimidation" data-ng-model="creature.intimidation" class="form-control" /></label>
              <label>Investigation: <input type="number" id="investigation" data-ng-model="creature.investigation" class="form-control" /></label>
          
            </div>
            <div class="col-md-2">
              <h4>&nbsp;</h4>
              <label>Medicine: <input type="number" id="medicine" data-ng-model="creature.medicine" class="form-control" /></label>
              <label>Nature: <input type="number" id="nature" data-ng-model="creature.nature" class="form-control" /></label>
              <label>Perception: <input type="number" id="perception" data-ng-model="creature.perception" class="form-control" /></label>
              <label>Performance: <input type="number" id="performance" data-ng-model="creature.performance" class="form-control" /></label>
              <label>Persuasion: <input type="number" id="persuasion" data-ng-model="creature.persuasion" class="form-control" /></label>
              <label>Religion: <input type="number" id="religion" data-ng-model="creature.religion" class="form-control" /></label>
              <label>Slight of Hand: <input type="number" id="slightofhand" data-ng-model="creature.slightofhand" class="form-control" /></label>
              <label>Stealth: <input type="number" id="stealth" data-ng-model="creature.stealth" class="form-control" /></label>
              <label>Survival: <input type="number" id="survival" data-ng-model="creature.survival" class="form-control" /></label>
            </div>
            <div class="col-md-8">
              <div class="row" id="attacksdiv">
                <h4>Attacks</h4>
                <div class="row attackrow" data-ng-repeat="attack in creature.attacks">    
                    <div class="col-md-4">
                      <label for="attackname1">Attack: <input type="text" data-ng-model="attack.attack" class="form-control attack" /></label>
                    </div>
                    <div class="col-md-2">
                      <label for="attackbonus1">Bonus: <input type="number" data-ng-model="attack.bonus" class="form-control bonus" /></label>
                    </div>  
                    <div class="col-md-3">
                      <label for="attackdamage1">Damage: <input type="text" data-ng-model="attack.damage" class="form-control damage" /></label>
                    </div>
                    <div class="col-md-2">
                      <input type="button" value="Delete" ng-click="creature.attacks.splice($index, 1)" style="margin-top:10px;" class="btn btn-default" />
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 pull-right btn-group">
                  <input type="button" class="btn btn-default" ng-click="addAttack()" id="addattack" value="Add Attack" />
                  
                </div>
              </div>
              <div class="form-group">
                <h4>Possessions</h4>
                <textarea id="possessions" data-ng-model="creature.possessions" class="form-control" rows="5"></textarea>
              </div>
        
              <div class="form-group">
                <h4>Physical Description</h4>
                <textarea class="form-control" data-ng-model="creature.physicaldescription" id="physicaldescription" rows="5"></textarea>
              </div>
        
              <div class="form-group">
                <h4>Proficiencies, Features and Traits</h4>
                <textarea class="form-control" data-ng-model="creature.features" id="features" rows="5"></textarea>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="app" id="encounterBuilder" data-ng-controller="encounterBuilder" data-ng-init="init()" style="display: none">
        <h3>Encounter Builder</h3>
        <div class="row">
          <div class="form-group col-sm-12">
            <table id="encounterTable" class="creatureLoad"></table>
          </div>
          <div class="button-group col-md-3">
            <input type="button" value="Add to Encounter" data-ng-click="addCreature()" />
            <input type="button" value="Refresh List" data-ng-click="refreshList()" />
          </div>
        </div>
        <div id="encounter" class="row">
          {% verbatim %}
          <div class="statblock col-md-3" data-ng-repeat="creature in creatures">
            <ul>
              <li><a href="{{'#statblock' + creature.id }}">Stats</a></li>
              <li><a href="{{'#skills' + creature.id }}">Skills</a></li>
              <li><a href="{{'#attacks' + creature.id }}">Actions</a></li>
              <li><a href="{{'#description' + creature.id }}">Description</a></li>
            </ul>
            <div id="{{'statblock' + creature.id }}">
                  <h4>{{ creature.name }}</h4>
                  <h5>{{ creature.race }} {{creature.classlevel}} {{creature.alignment}}</h5>
                  <h5><strong>Armor Class</strong> {{ creature.ac }}</h5>
                  <h5><strong>Hit Points</strong> <input type="number" min="0" max="1000" style="width: 50px"/> / {{ creature.hpmax }} ({{creature.hitdice}} hitdice)</h5>
                  <h5><strong>Speed</strong> {{creature.speed}}</h5>
                  <table class="table">
                    <tr><td>STR</td><td>DEX</td><td>CON</td><td>INT</td><td>WIS</td><td>CHA</td></tr>
                    <tr>
                      <td>{{creature.str}}</td><td>{{creature.dex}}</td><td>{{creature.con}}</td><td>{{creature.intel}}</td>
                      <td>{{creature.wis}}</td><td>{{creature.cha}}</td>
                    </tr>
                  </table>
                  <h5>
                    <strong>Saves</strong> Str +{{creature.strsave}} Dex +{{creature.dexsave}} Con +{{creature.consave}}
                    Int +{{creature.intsave}} Wis +{{creature.wissave}} Cha {{creature.chasave}}
                  </h5>
                  <h5><strong>Proficiency Bonus</strong> {{creature.proficiencybonus}}</h5>
                  
                  <h5><strong>Damage Resistances</strong> {{creature.damageresistances}}</h5>
                  <h5><strong>Immunities</strong> {{creature.immunities}}</h5>
                  <h5><strong>Senses</strong> {{creature.senses}}</h5>
                  <h5><strong>Languages</strong> {{creature.languages}}</h5>
                  <h5><strong>Challenges</strong> {{creature.cr}} ({{creature.experience}} XP)</h5>
            </div>
            <div id="{{'skills' + creature.id }}">
              <h4>Skills</h4>
              <h5>Acrobatics: {{creature.acrobatics}}</h5>
              <h5>Animal Handling: {{creature.animalhandling}}</h5>
              <h5>Arcana: {{creature.arcana}}</h5>
              <h5>Athletics: {{creature.athletics}}</h5>
              <h5>Deception: {{creature.deception}}</h5>
              <h5>History: {{creature.history}}</h5>
              <h5>Insight: {{creature.insight}}</h5>
              <h5>Intimidation: {{creature.intimidation}}</h5>
              <h5>Investigation: {{creature.investigation}}</h5>
              <h5>Medicine: {{creature.medicine}}</h5>
              <h5>Nature: {{creature.nature}}</h5>
              <h5>Perception: {{creature.perception}}</h5>
              <h5>Performance: {{creature.performance}}</h5>
              <h5>Persuasion: {{creature.persuasion}}</h5>
              <h5>Religion: {{creature.religion}}</h5>
              <h5>Slight of Hand: {{creature.slightofhand}}</h5>
              <h5>Stealth: {{creature.stealth}}</h5>
              <h5>Survival: {{creature.survival}}</h5>
            </div>
            <div id="{{'attacks' + creature.id }}">
              <h4>Attacks</h4>
              <h5 ng-repeat="attack in creature.attacks">
                {{attack.attack}} +{{attack.bonus}} ({{attack.damage}})
              </h5>
              <h4>Other Actions and Traits</h4>
              <p>
                {{creature.features}}
              </p>
            </div>
            <div id="{{'description' + creature.id }}">
              <h5><strong>Background</strong> {{creature.background}} </h5>
              <p>
                <strong>Physical Description</strong> {{creature.physicaldescription}}
              </p>
              <p>
                <strong>Possessions</strong> {{creature.possessions}}
              </p>
            </div>
            <input type="button" value="Remove from Encounter" data-ng-click="removeCreature($index)" />
          </div>
          {% endverbatim %}
        </div>
      </div>
      <div class="app" id="referenceManual" data-ng-controller="referenceManual" data-ng-init="init()" style="display: none">
        <h3>Reference Manual</h3>
        <div id="refdiv">
          <ul>
            <li><a href="#refspells">Spells</a></li>
            <li><a href="#refconditions">Conditions</a></li>
            <li><a href="#refinjuries">Injuries</a></li>
            <li><a href="#refactions">Actions</a></li>
            <li><a href="#refequipment">Equipment</a></li>
            <li><a href="#refvarious">Other</a></li>
          </ul>
          <div id="refspells">
            <h3>Spells</h3>
            <table id="spelltable"></table>
						<input type="button" value="Load Spell" data-ng-click="loadspell()" />
            <div id="selectedspell">
              
            </div>
          </div>
          <div id="refconditions">
            <h3>Conditions</h3>
            <h4>Blinded</h4>
            <ul>
              <li>You can’t see and automatically fail any ability check requiring sight.</li>
              <li>Attack rolls against you have advantage and your attack rolls have disadvantage.</li>
            </ul>
            <h4>Charmed</h4>
            <ul>
              <li>You can’t attack the charmer or target the charmer with harmful abilities or magical effects.</li>
              <li>The charmer has advantage on any ability check to socially interact with you.</li>
            </ul>
            <h4>Deafened</h4>
            <ul>
              <li>You can’t hear and automatically fail any ability check requiring hearing.</li>
            </ul>
            <h4>Frightened</h4>
            <ul>
              <li>You have disadvantage on ability checks and attack rolls while the source of your fear is within line of sight.</li>
              <li>You cannot willingly move closer to the source of your fear.</li>
            </ul>
            <h4>Grappled</h4>
            <ul>
              <li>Your speed becomes 0 and you cannot benefit from any bonus to your speed.</li>
              <li>
                This condition ends if the grappler is incapacitated or if an effect removes you from the reach of the grappler or grappling
                effect.
              </li>
            </ul>
            <h4>Incapacitated</h4>
            <ul>
              <li>You cannot take actions or reactions.</li>
            </ul>
            <h4>Invisible</h4>
            <ul>
              <li>
                You are impossible to see without the aid of magic or a special sense. For the purpose of hiding, you are heavily obscured. Your
                location can be detected by any noise you make or any tracks you leave.
              </li>
              <li>
                Attack rolls against you have disadvantage and your attack rolls have advantage.
              </li>
            </ul>
            <h4>Paralyzed</h4>
            <ul>
              <li>You are incapacitated and cannot move or speak.</li>
              <li>You automatically fail Strength and Dexterity saving throws.</li>
              <li>Attack rolls against you have advantage.</li>
              <li>Any attack that hits you is a critical hit if your attacker is within 5 feet of you.</li>
            </ul>
            <h4>Petrified</h4>
            <ul>
              <li>
                You are transformed, along with any nonmagical object you are wearing or carrying, into a solid inanimate substance. Your weight
                increases by a factor of ten and you cease aging.
              </li>
              <li>You are incapacitated, cannot move or speak, and are unaware of your surroundings.</li>
              <li>Attack rolls against you have advantage.</li>
              <li>You automatically fail Strength and Dexterity saving throws.</li>
              <li>You are immune to poison and disease, though a poison or disease already in your system is suspended, not neutralized.</li>
            </ul>
            <h4>Poisoned</h4>
            <ul>
              <li>You have disadvantage on attack rolls and ability checks.</li>
            </ul>
            <h4>Prone</h4>
            <ul>
              <li>Your only movement option is to crawl, unless you stand up and thereby end this condition.</li>
              <li>You have disadvantage on attack rolls.</li>
              <li>
                Attack rolls against you have advantage if your attacker is within 5 feet of you; otherwise, attack rolls against you have
                disadvantage.
              </li>
            </ul>
            <h4>Restrained</h4>
            <ul>
              <li>Your speed becomes 0 and you cannot benefit from any bonus to your speed.</li>
              <li>Attack rolls against you have advantage, and your attack rolls have disadvantage.</li>
              <li>You have disadvantage on Dexterity saving throws.</li>
            </ul>
            <h4>Stunned</h4>
            <ul>
              <li>You are incapacitated, cannot move, and can only speak falteringly.</li>
              <li>You automatically fail Strength and Dexterity saving throws.</li>
              <li>Attack rolls against you have advantage.</li>
            </ul>
            <h4>Unconscious</h4>
            <ul>
              <li>You are incapacitated, cannot move or speak, and are unaware of your surroundings.</li>
              <li>You drop whatever you were holding and fall prone.</li>
              <li>You automatically fail Strength and Dexterity saving throws.</li>
              <li>Attack rolls against you have advantage.</li>
              <li>Any attack that hits you is a critical hit if your attacker is within 5 feet of you.</li>
            </ul>
          </div>
          <div id="refinjuries">
            
          </div>
          <div id="refactions">
            
          </div>
          <div id="refequipment">
            
          </div>
          <div id="refvarious">
            
          </div>
        </div>
        <!--Conditions, Injuries, Spells, Actions, Cover-->
      </div>
      <div class="app" id="charBuilder" data-ng-controller="charBuilder" style="display:none">
        <h3>Character Builder</h3>
        <p>
          Use this tool to create a ready to go NPC or character for use in the encounter builder, without having to do manual calculations.
          Need something beyond the defaults? You can always edit values afterwards in the Creature Creator.
        </p>
        <div class="row">
          <div class="form-group col-md-6">
            <label>Name <input type="text" data-ng-model="creatureentry.name" /></label>
          </div>
          <div class="form-group col-md-6">
            <label>Alignment <input type="text" data-ng-model="creatureentry.alignment" /></label>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label>Race <select data-ng-model="character.race"
                            data-ng-options="race.race as race.name for race in races track by race.id"
                            class="form-control"></select>
            </label>
          </div>
          <div class="form-group col-md-4">
            <label>Background <select data-ng-model="character.background"
                                data-ng-options="background.background as background.name for background in backgrounds track by background.id"
                                class="form-control"></select>
            </label>
          </div>
          <div class="form-group col-md-4">
            <label>Class <select data-ng-model="character.charclass"
                            data-ng-options="charclass.charclass as charclass.name for charclass in classes track by charclass.id"
                            class="form-control"></select>
            </label>
          </div>          
        </div>
        <div class="row">
          <div class="col-md-4">
            Enter your rolls plus any non-racial stat bonuses or not-set stat bonuses (like for half-elves).
            <div class="form-group">
              <label>STR <input type="number" class="form-control" data-ng-model="character.str" /></label>
            </div>
            <div class="form-group"> 
              <label>DEX <input type="number" class="form-control" data-ng-model="character.dex" /></label>
            </div>
            <div class="form-group">
              <label>CON <input type="number" class="form-control" data-ng-model="character.con" /></label>
            </div>
            <div class="form-group">
              <label>INT <input type="number" class="form-control" data-ng-model="character.intel" /></label>
            </div>
            <div class="form-group">
              <label>WIS <input type="number" class="form-control" data-ng-model="character.wis" /></label>
            </div>
            <div class="form-group">
              <label>CHA <input type="number" class="form-control" data-ng-model="character.cha" /></label>
            </div>              
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Level <input type="number" class="form-control" data-ng-model="character.level"></label>
            </div>
            <div class="form-group">
              <label>Skill Proficiencies <select name="skillproficiencies" id="skillproficiencies" class="form-control" ng-model="character.skillproficiencies" multiple size="18">
                <option value="acrobatics">Acrobatics</option>
                <option value="animalhandling">Animal Handling</option>
                <option value="arcana">Arcana</option>
                <option value="athletics">Athletics</option>
                <option value="deception">Deception</option>
                <option value="history">History</option>
                <option value="insight">Insight</option>
                <option value="intimidation">Intimidation</option>
                <option value="investigation">Investigation</option>
                <option value="medicine">Medicine</option>
                <option value="nature">Nature</option>
                <option value="perception">Perception</option>
                <option value="performance">Performance</option>
                <option value="persuasion">Persuasion</option>
                <option value="religion">Religion</option>
                <option value="slightofhand">Slight of Hand</option>
                <option value="stealth">Stealth</option>
                <option value="survival">Survival</option>
              </select></label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Armor <select data-ng-model="character.armor"
                              data-ng-options="armor.armor as armor.name for armor in armors track by armor.id"
                              class="form-control"></select>
              </label>
            </div>
            <div class="form-group">
              <label>Shield <input type="checkbox" ng-model="character.shield"</label>
            </div>
          {% verbatim %}
          <div class="statblock col-md-3">
            <ul>
              <li><a href="{{'#charstatblock' + creatureentry.id }}">Stats</a></li>
              <li><a href="{{'#charskills' + creatureentry.id }}">Skills</a></li>
              <li><a href="{{'#charattacks' + creatureentry.id }}">Actions</a></li>
              <li><a href="{{'#chardescription' + creatureentry.id }}">Description</a></li>
            </ul>
            <div id="{{'charstatblock' + creatureentry.id }}">
                            <h4>{{ creatureentry.name }}</h4>
                  <h5>{{ creatureentry.race }} {{creatureentry.classlevel}} {{creatureentry.alignment}}</h5>
                  <h5><strong>Armor Class</strong> {{ creatureentry.ac }}</h5>
                  <h5><strong>Hit Points</strong> <input type="number" min="0" max="1000" style="width: 50px"/> / {{ creatureentry.hpmax }} ({{creatureentry.hitdice}} hitdice)</h5>
                  <h5><strong>Speed</strong> {{creatureentry.speed}}</h5>
                  <table class="table">
                    <tr><td>STR</td><td>DEX</td><td>CON</td><td>INT</td><td>WIS</td><td>CHA</td></tr>
                    <tr>
                      <td>{{creatureentry.str}}</td><td>{{creatureentry.dex}}</td><td>{{creatureentry.con}}</td><td>{{creatureentry.intel}}</td>
                      <td>{{creatureentry.wis}}</td><td>{{creatureentry.cha}}</td>
                    </tr>
                  </table>
                  <h5>
                    <strong>Saves</strong> Str +{{creatureentry.strsave}} Dex +{{creatureentry.dexsave}} Con +{{creatureentry.consave}}
                    Int +{{creatureentry.intsave}} Wis +{{creatureentry.wissave}} Cha {{creatureentry.chasave}}
                  </h5>
                  <h5><strong>Proficiency Bonus</strong> {{creatureentry.proficiencybonus}}</h5>
                  
                  <h5><strong>Damage Resistances</strong> {{creatureentry.damageresistances}}</h5>
                  <h5><strong>Immunities</strong> {{creatureentry.immunities}}</h5>
                  <h5><strong>Senses</strong> {{creatureentry.senses}}</h5>
                  <h5><strong>Languages</strong> {{creatureentry.languages}}</h5>
                  <h5><strong>Challenges</strong> {{creatureentry.cr}} ({{creatureentry.experience}} XP)</h5>
            </div>
            <div id="{{'charskills' + creatureentry.id }}">
              <h4>Skills</h4>
              <h5>Acrobatics: {{creatureentry.acrobatics}}</h5>
              <h5>Animal Handling: {{creatureentry.animalhandling}}</h5>
              <h5>Arcana: {{creatureentry.arcana}}</h5>
              <h5>Athletics: {{creatureentry.athletics}}</h5>
              <h5>Deception: {{creatureentry.deception}}</h5>
              <h5>History: {{creatureentry.history}}</h5>
              <h5>Insight: {{creatureentry.insight}}</h5>
              <h5>Intimidation: {{creatureentry.intimidation}}</h5>
              <h5>Investigation: {{creatureentry.investigation}}</h5>
              <h5>Medicine: {{creatureentry.medicine}}</h5>
              <h5>Nature: {{creatureentry.nature}}</h5>
              <h5>Perception: {{creatureentry.perception}}</h5>
              <h5>Performance: {{creatureentry.performance}}</h5>
              <h5>Persuasion: {{creatureentry.persuasion}}</h5>
              <h5>Religion: {{creatureentry.religion}}</h5>
              <h5>Slight of Hand: {{creatureentry.slightofhand}}</h5>
              <h5>Stealth: {{creatureentry.stealth}}</h5>
              <h5>Survival: {{creatureentry.survival}}</h5>
            </div>
            <div id="{{'charattacks' + creatureentry.id }}">

              <h4>Other Actions and Traits</h4>
              <p>
                {{creatureentry.features}}
              </p>
            </div>
            <div id="{{'chardescription' + creatureentry.id }}">
              <h5><strong>Background</strong> {{creatureentry.background}} </h5>
              <p>
                <strong>Physical Description</strong> {{creatureentry.physicaldescription}}
              </p>
              <p>
                <strong>Possessions</strong> {{creatureentry.possessions}}
              </p>
            </div>
          </div>
        {% endverbatim %}
        </div>
      </div>
      <div class="app" id="initTracker" data-ng-controller="initTracker" style="display: none">
        <h3>Initiative Tracker</h3>
      </div>
      <div class="app" id="dmJournal" data-ng-controller="dmJournal" style="display: none">
        <h3>DM Journal</h3>
      </div>
      <div class="app" id="diceRoller" data-ng-controller="diceRoller" style="display: none">
        <h3>Dice Roller</h3>
      </div>
      <div class="app" id="dungeonMap" data-ng-controller="dungeonMap" style="display: none">
        <h3>Dungeon Map</h3>
      </div>
    </div>
    <div id="appmenu" class="col-sm-2" data-ng-controller="appMenu" data-ng-init="init()">
      <ul id="appmenulist">
        <li><button class="AppMenuButton btn btn-lg" id="loadCreatureCreator">Creature Creator</button></li>
        <li><button class="AppMenuButton btn btn-lg" id="loadEncounterBuilder">Encounter Builder</button></li>
        <li><button class="AppMenuButton btn btn-lg" id="loadReferenceManual">Reference Manual</button></li>
        <li><button class="AppMenuButton btn btn-lg" id="loadCharBuilder">Character Builder</button></li>
        <li><button class="AppMenuButton btn btn-lg" id="loadInitTracker">Init Tracker</button></li>
        <li><button class="AppMenuButton btn btn-lg" id="loadDmJournal">DM Journal</button></li>
        <li><button class="AppMenuButton btn btn-lg" id="loadDiceRoller">Dice Roller</button></li>
        <li><button class="AppMenuButton btn btn-lg" id="loadDungeonMap">Dungeon Map</button></li>
        {% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
          <li><a class="AppMenuButton btn btn-lg" href="{{path('fos_user_profile_show')}}">My Account</a></li>
          <li><a class="AppMenuButton btn btn-lg" href="{{path('fos_user_change_password')}}">Change Password</a></li>
          <li><a class="AppMenuButton btn btn-lg" href="{{path('fos_user_security_logout')}}">Log Out</a></li>
        {% else %}
          <li><a class="AppMenuButton btn btn-lg" href="{{path('fos_user_registration_register')}}">Sign Up</a></li>
          <li><a class="AppMenuButton btn btn-lg" href="{{path('fos_user_security_login')}}">Sign In</a></li>
        {% endif %}
        {% if app.user and is_granted('ROLE_ADMIN') %}
          <li><a class="AppMenuButton btn btn-lg" href="#">User Administration</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

      {% block javascripts %}
        <script src="{{asset('jquery/1.11.3/jquery.min.js', 'cdn')}}"></script>
        <script src="{{asset('jqueryui/1.11.4/jquery-ui.min.js', 'cdn')}}"></script>
        <script src="{{asset('angularjs/1.4.2/angular.min.js', 'cdn')}}"></script>
        {% javascripts '@AppBundle/libraries/*'
                       '@AppBundle/js/tools.js'
                       output='js/script-tools.js'%}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% endblock %}