{% extends 'base.html.twig' %}
{% block seo %}
	<meta name="description" content="Dungeon Master's Toolset designed with the Elthelas Campaign Setting in mind.
  Includes initiative roller, dungeon master's dashboard, campaign journal, and character creator tool (for use with the dashboard)" />
	<meta name="keywords" content="dungeons, dragons, elthelas, campaign, setting, 5th edition, custom, tools, initiative, dashboard, journal, creator" />
  <style type="text/css">

  </style>
{% endblock %}

{% block body %}
{% include "::spells.html.twig" %}
<script>
  //var spells = {{ spells|json_encode()|raw }};
</script>
<div data-ng-app="dmTools" class="container-fluid">
  <div class="row">
    <div id="content" class="col-sm-12">
      <ul>
        <li><a href="#creatureCreator">Creature Creator</a></li>
        <li><a href="#encounterBuilder">Encounter Builder</a></li>
        <li><a href="#referenceManual">Reference Manual</a></li>
        <li><a href="#encounterDifficulty">Encounter Difficulty</a></li>
        <li><a href="#initTracker">Init Tracker</a></li>
        <li><a href="#dmJournal">DM Journal</a></li>
        <li><a href="#diceRoller">Dice Roller</a></li>
      </ul>
      <div class="app" id="creatureCreator" data-ng-controller="creatureCreator" data-ng-init="init()">
        <h3>Creature Creator</h3>

        <div class="row">
          <div class="form-group col-sm-12">
            <table class="creatureLoad"></table>
          </div>
          <div class="col-md-3 btn-group">
            <input type="button" value="New" id="newchar" ng-click="newChar()" class="btn btn-default" />
            <input type="button" value="Load" id="loadchar" ng-click="loadCreature()" class="btn btn-default"/>
            <input type="button" value="Save" id="savechar" ng-click="saveCreature()" class="btn btn-default"/>
            <input type="button" value="Delete" id="deletechar" ng-click="deleteCreature()" class="btn btn-default" />
          </div>
          <div id="creatoralerts" class="hidden col-md-4 alert alert-success" data-ng-bind="alertcontent">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          </div>
        </div>
        <section id="charform">
          <div class="row">
            <input type="hidden" name="charid" data-ng-model="creature.id" id="charid" value="NOCHARLOADED" />
            <div class="col-md-2 form-group">
              <label>Name: <input type="text" id="name" data-ng-model="creature.name" class="form-control" /></label>
            </div>
            <div class="col-md-2 form-group">
              <label>Class and Level: <input type="text" data-ng-model="creature.classlevel" id="classlevel" class="form-control" /></label>
            </div>
            <div class="col-md-2 form-group">
              <label>Background: <input type="text" id="background" data-ng-model="creature.background" class="form-control" /></label>
            </div>
              
            <div class="col-md-2 form-group">
              <label>Race: <input type="text" id="race" data-ng-model="creature.race" class="form-control" /></label>
            </div>
            
            <div class="col-md-2 form-group">
              <label>Alignment: <input type="text" data-ng-model="creature.alignment" id="alignment" class="form-control" /></label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 form-group">
              <label>Experience: <input type="number" data-ng-model="creature.experience" id="experience" class="form-control" /></label>
            </div>
            
            <div class="col-md-2 form-group">
              <label>CR: <input type="number" id="cr" data-ng-model="creature.cr" class="form-control" /></label>
            </div>
            
            <div class="col-md-2 form-group">
              <label>Proficiency Bonus: <input type="number" data-ng-model="creature.proficiencybonus" id="proficiencybonus" class="form-control" /></label>
            </div>
            <div class="col-md-2 form-group">
              <label>AC <input type="number" id="ac" data-ng-model="creature.ac" class="form-control" /></label>
            </div>
            <div class="col-md-2 form-group">
              <label>Speed <input type="text" id="speed" data-ng-model="creature.speed" class="form-control" /></label>
            </div> 
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>Attributes</h4>
              <label for="str">Strength: <input type="number" id="str" data-ng-model="creature.str" class="form-control" /></label>
              <label for="dex">Dexterity: <input type="number" id="dex" data-ng-model="creature.dex" class="form-control" /></label>
              <label for="con">Constitution: <input type="number" id="con" data-ng-model="creature.con" class="form-control" /></label>
              <label for="intel">Intelligence: <input type="number" data-ng-model="creature.intel" id="intel" class="form-control" /></label>
              <label for="wis">Wisdom: <input type="number" id="wis" data-ng-model="creature.wis" class="form-control" /></label>
              <label for="cha">Charisma: <input type="number" id="cha" data-ng-model="creature.cha" class="form-control" /></label>
            </div>
            <div class="col-md-4">
              <h4>Abilities</h4>
              <label for="hpmax">Max HP: <input type="number" id="hpmax" data-ng-model="creature.hpmax" class="form-control" /></label>
              <label for="hitdice"> Max Hitdice: <input id="hitdice" data-ng-model="creature.hitdice" type="number" class="form-control" /></label>
              <label>Passive Perception <input type="number" data-ng-model="creature.passiveperception" id="passiveperception" class="form-control" /></label>
              <label>Damage Resistances <input type="text" data-ng-model="creature.damageresistances" id="damageresistances" class="form-control" /></label>
              <label>Immunities <input type="text" id="immunities" data-ng-model="creature.immunities" class="form-control" /></label>
              <label>Senses <input type="text" id="senses" data-ng-model="creature.senses" class="form-control" /></label>
              <label>Languages <input type="text" id="languages" data-ng-model="creature.languages" class="form-control" /></label>
            </div>
            <div class="col-md-4">
              <h4>Saves</h4>
              <label>Strength: <input type="number" id="strsave" data-ng-model="creature.strsave" class="form-control" /></label>
              <label>Dexterity: <input type="number" id="dexsave" data-ng-model="creature.dexsave" class="form-control" /></label>
              <label>Constitution: <input type="number" id="consave" data-ng-model="creature.consave" class="form-control" /></label>
              <label>Intelligence: <input type="number" id="intsave" data-ng-model="creature.intsave" class="form-control" /></label>
              <label>Wisdom: <input type="number" id="wissave" data-ng-model="creature.wissave" class="form-control" /></label>
              <label>Charisma: <input type="number" id="chasave" data-ng-model="creature.chasave" class="form-control" /></label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <h4>Skills</h4>
              <label>Acrobatics: <input type="number" id="acrobatics" data-ng-model="creature.acrobatics" class="form-control" /></label>
              <label>Animal Handling: <input type="number" id="animalhandling" data-ng-model="creature.animalhandling" class="form-control" /></label>
              <label>Arcana: <input type="number" id="arcana" data-ng-model="creature.arcana" class="form-control" /></label>
              <label>Athletics: <input type="number" id="athletics" data-ng-model="creature.athletics" class="form-control" /></label>
              <label>Deception: <input type="number" id="deception" data-ng-model="creature.deception" class="form-control" /></label>
              <label>History: <input type="number" id="history" data-ng-model="creature.history" class="form-control" /></label>
              <label>Insight: <input type="number" id="insight" data-ng-model="creature.insight" class="form-control" /></label>
              <label>Intimidation: <input type="number" id="intimidation" data-ng-model="creature.intimidation" class="form-control" /></label>
              <label>Investigation: <input type="number" id="investigation" data-ng-model="creature.investigation" class="form-control" /></label>
          
            </div>
            <div class="col-md-2">
              <h4>&nbsp;</h4>
              <label>Medicine: <input type="number" id="medicine" data-ng-model="creature.medicine" class="form-control" /></label>
              <label>Nature: <input type="number" id="nature" data-ng-model="creature.nature" class="form-control" /></label>
              <label>Perception: <input type="number" id="perception" data-ng-model="creature.perception" class="form-control" /></label>
              <label>Performance: <input type="number" id="performance" data-ng-model="creature.performance" class="form-control" /></label>
              <label>Persuasion: <input type="number" id="persuasion" data-ng-model="creature.persuasion" class="form-control" /></label>
              <label>Religion: <input type="number" id="religion" data-ng-model="creature.religion" class="form-control" /></label>
              <label>Slight of Hand: <input type="number" id="slightofhand" data-ng-model="creature.slightofhand" class="form-control" /></label>
              <label>Stealth: <input type="number" id="stealth" data-ng-model="creature.stealth" class="form-control" /></label>
              <label>Survival: <input type="number" id="survival" data-ng-model="creature.survival" class="form-control" /></label>
            </div>
            <div class="col-md-8">
              <div class="row" id="attacksdiv">
                <h4>Attacks</h4>
                <div class="row attackrow" data-ng-repeat="attack in creature.attacks">    
                    <div class="col-md-4">
                      <label for="attackname1">Attack: <input type="text" data-ng-model="attack.attack" class="form-control attack" /></label>
                    </div>
                    <div class="col-md-2">
                      <label for="attackbonus1">Bonus: <input type="number" data-ng-model="attack.bonus" class="form-control bonus" /></label>
                    </div>  
                    <div class="col-md-3">
                      <label for="attackdamage1">Damage: <input type="text" data-ng-model="attack.damage" class="form-control damage" /></label>
                    </div>
                    <div class="col-md-2">
                      <input type="button" value="Delete" ng-click="creature.attacks.splice($index, 1)" style="margin-top:10px;" class="btn btn-default" />
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 pull-right btn-group">
                  <input type="button" class="btn btn-default" ng-click="addAttack()" id="addattack" value="Add Attack" />
                  
                </div>
              </div>
              <div class="form-group">
                <h4>Possessions</h4>
                <textarea id="possessions" data-ng-model="creature.possessions" class="form-control" rows="5"></textarea>
              </div>
        
              <div class="form-group">
                <h4>Physical Description</h4>
                <textarea class="form-control" data-ng-model="creature.physicaldescription" id="physicaldescription" rows="5"></textarea>
              </div>
        
              <div class="form-group">
                <h4>Proficiencies, Features and Traits</h4>
                <textarea class="form-control" data-ng-model="creature.features" id="features" rows="5"></textarea>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="app" id="encounterBuilder" data-ng-controller="encounterBuilder" data-ng-init="init()">
        <h3>Encounter Builder</h3>
        <div class="row">
          <div class="form-group col-sm-12">
            <table id="encounterTable" class="creatureLoad"></table>
          </div>
          <div class="button-group col-md-3">
            <input type="button" value="Add to Encounter" data-ng-click="addCreature()" />
            <input type="button" value="Refresh List" data-ng-click="refreshList()" />
          </div>
        </div>
        <div id="encounter" class="row">
          {% verbatim %}
          <div class="statblock col-md-3" data-ng-repeat="creature in creatures">
            <ul>
              <li><a href="{{'#statblock' + creature.id }}">Stats</a></li>
              <li><a href="{{'#skills' + creature.id }}">Skills</a></li>
              <li><a href="{{'#attacks' + creature.id }}">Actions</a></li>
              <li><a href="{{'#description' + creature.id }}">Description</a></li>
            </ul>
            <div id="{{'statblock' + creature.id }}">
                  <h4>{{ creature.name }}</h4>
                  <h5>{{ creature.race }} {{creature.classlevel}} {{creature.alignment}}</h5>
                  <h5><strong>Armor Class</strong> {{ creature.ac }}</h5>
                  <h5><strong>Hit Points</strong> <input type="number" min="0" max="1000" style="width: 50px"/> / {{ creature.hpmax }} ({{creature.hitdice}} hitdice)</h5>
                  <h5><strong>Speed</strong> {{creature.speed}}</h5>
                  <table class="table">
                    <tr><td>STR</td><td>DEX</td><td>CON</td><td>INT</td><td>WIS</td><td>CHA</td></tr>
                    <tr>
                      <td>{{creature.str}}</td><td>{{creature.dex}}</td><td>{{creature.con}}</td><td>{{creature.intel}}</td>
                      <td>{{creature.wis}}</td><td>{{creature.cha}}</td>
                    </tr>
                  </table>
                  <h5>
                    <strong>Saves</strong> Str +{{creature.strsave}} Dex +{{creature.dexsave}} Con +{{creature.consave}}
                    Int +{{creature.intsave}} Wis +{{creature.wissave}} Cha {{creature.chasave}}
                  </h5>
                  <h5><strong>Proficiency Bonus</strong> {{creature.proficiencybonus}}</h5>
                  
                  <h5><strong>Damage Resistances</strong> {{creature.damageresistances}}</h5>
                  <h5><strong>Immunities</strong> {{creature.immunities}}</h5>
                  <h5><strong>Senses</strong> {{creature.senses}}</h5>
                  <h5><strong>Languages</strong> {{creature.languages}}</h5>
                  <h5><strong>Challenges</strong> {{creature.cr}} ({{creature.experience}} XP)</h5>
            </div>
            <div id="{{'skills' + creature.id }}">
              <h4>Skills</h4>
              <h5>Acrobatics: {{creature.acrobatics}}</h5>
              <h5>Animal Handling: {{creature.animalhandling}}</h5>
              <h5>Arcana: {{creature.arcana}}</h5>
              <h5>Athletics: {{creature.athletics}}</h5>
              <h5>Deception: {{creature.deception}}</h5>
              <h5>History: {{creature.history}}</h5>
              <h5>Insight: {{creature.insight}}</h5>
              <h5>Intimidation: {{creature.intimidation}}</h5>
              <h5>Investigation: {{creature.investigation}}</h5>
              <h5>Medicine: {{creature.medicine}}</h5>
              <h5>Nature: {{creature.nature}}</h5>
              <h5>Perception: {{creature.perception}}</h5>
              <h5>Performance: {{creature.performance}}</h5>
              <h5>Persuasion: {{creature.persuasion}}</h5>
              <h5>Religion: {{creature.religion}}</h5>
              <h5>Slight of Hand: {{creature.slightofhand}}</h5>
              <h5>Stealth: {{creature.stealth}}</h5>
              <h5>Survival: {{creature.survival}}</h5>
            </div>
            <div id="{{'attacks' + creature.id }}">
              <h4>Attacks</h4>
              <h5 ng-repeat="attack in creature.attacks">
                {{attack.attack}} +{{attack.bonus}} ({{attack.damage}})
              </h5>
              <h4>Other Actions and Traits</h4>
              <pre>
                {{creature.features}}
              </pre>
            </div>
            <div id="{{'description' + creature.id }}">
              <h5><strong>Background</strong> {{creature.background}} </h5>
              <div>
                <h5>Physical Description</h5> <pre>{{creature.physicaldescription}}</pre>
              </div>
                <h5>Possessions</h5> <pre>{{creature.possessions}}</pre>
            </div>
            <input type="button" value="Remove from Encounter" data-ng-click="removeCreature($index)" />
          </div>
          {% endverbatim %}
        </div>
      </div>
      <div class="app" id="referenceManual" data-ng-controller="referenceManual" data-ng-init="init()">
        <h3>Reference Manual</h3>
        <div id="refdiv">
          <ul>
            <li><a href="#refspells">Spells</a></li>
            <li><a href="#refconditions">Conditions</a></li>
            <li><a href="#refinjuries">Injuries</a></li>
            <li><a href="#refactions">Actions</a></li>
            <li><a href="#refequipment">Equipment</a></li>
            <li><a href="#refvarious">Other</a></li>
          </ul>
          <div id="refspells">
            <h3>Spells</h3>
            <table id="spelltable"></table>
						<input type="button" value="Load Spell" data-ng-click="loadspell()" />
            <div id="selectedspell">
              
            </div>
          </div>
          <div id="refconditions">
            <h3>Conditions</h3>
            <h4>Blinded</h4>
            <ul>
              <li>You can’t see and automatically fail any ability check requiring sight.</li>
              <li>Attack rolls against you have advantage and your attack rolls have disadvantage.</li>
            </ul>
            <h4>Charmed</h4>
            <ul>
              <li>You can’t attack the charmer or target the charmer with harmful abilities or magical effects.</li>
              <li>The charmer has advantage on any ability check to socially interact with you.</li>
            </ul>
            <h4>Deafened</h4>
            <ul>
              <li>You can’t hear and automatically fail any ability check requiring hearing.</li>
            </ul>
            <h4>Frightened</h4>
            <ul>
              <li>You have disadvantage on ability checks and attack rolls while the source of your fear is within line of sight.</li>
              <li>You cannot willingly move closer to the source of your fear.</li>
            </ul>
            <h4>Grappled</h4>
            <ul>
              <li>Your speed becomes 0 and you cannot benefit from any bonus to your speed.</li>
              <li>
                This condition ends if the grappler is incapacitated or if an effect removes you from the reach of the grappler or grappling
                effect.
              </li>
            </ul>
            <h4>Incapacitated</h4>
            <ul>
              <li>You cannot take actions or reactions.</li>
            </ul>
            <h4>Invisible</h4>
            <ul>
              <li>
                You are impossible to see without the aid of magic or a special sense. For the purpose of hiding, you are heavily obscured. Your
                location can be detected by any noise you make or any tracks you leave.
              </li>
              <li>
                Attack rolls against you have disadvantage and your attack rolls have advantage.
              </li>
            </ul>
            <h4>Paralyzed</h4>
            <ul>
              <li>You are incapacitated and cannot move or speak.</li>
              <li>You automatically fail Strength and Dexterity saving throws.</li>
              <li>Attack rolls against you have advantage.</li>
              <li>Any attack that hits you is a critical hit if your attacker is within 5 feet of you.</li>
            </ul>
            <h4>Petrified</h4>
            <ul>
              <li>
                You are transformed, along with any nonmagical object you are wearing or carrying, into a solid inanimate substance. Your weight
                increases by a factor of ten and you cease aging.
              </li>
              <li>You are incapacitated, cannot move or speak, and are unaware of your surroundings.</li>
              <li>Attack rolls against you have advantage.</li>
              <li>You automatically fail Strength and Dexterity saving throws.</li>
              <li>You are immune to poison and disease, though a poison or disease already in your system is suspended, not neutralized.</li>
            </ul>
            <h4>Poisoned</h4>
            <ul>
              <li>You have disadvantage on attack rolls and ability checks.</li>
            </ul>
            <h4>Prone</h4>
            <ul>
              <li>Your only movement option is to crawl, unless you stand up and thereby end this condition.</li>
              <li>You have disadvantage on attack rolls.</li>
              <li>
                Attack rolls against you have advantage if your attacker is within 5 feet of you; otherwise, attack rolls against you have
                disadvantage.
              </li>
            </ul>
            <h4>Restrained</h4>
            <ul>
              <li>Your speed becomes 0 and you cannot benefit from any bonus to your speed.</li>
              <li>Attack rolls against you have advantage, and your attack rolls have disadvantage.</li>
              <li>You have disadvantage on Dexterity saving throws.</li>
            </ul>
            <h4>Stunned</h4>
            <ul>
              <li>You are incapacitated, cannot move, and can only speak falteringly.</li>
              <li>You automatically fail Strength and Dexterity saving throws.</li>
              <li>Attack rolls against you have advantage.</li>
            </ul>
            <h4>Unconscious</h4>
            <ul>
              <li>You are incapacitated, cannot move or speak, and are unaware of your surroundings.</li>
              <li>You drop whatever you were holding and fall prone.</li>
              <li>You automatically fail Strength and Dexterity saving throws.</li>
              <li>Attack rolls against you have advantage.</li>
              <li>Any attack that hits you is a critical hit if your attacker is within 5 feet of you.</li>
            </ul>
          </div>
          <div id="refinjuries">
            <table class="table">
              <tr><th>d20</th><th>Injury</th></tr>
              <tr>
                <td>1</td>
                <td>
                  Lose an Eye. You have disadvantage on Wisdom
                  (Perception) checks that rely on sight and on
                  ranged attack rolls. Magic such as the regenerate
                  spell can restore the lost eye. If you have no eyes
                  left after sustaining this injury, you're blinded.
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  Lose an Arm or a Hand. You can no longer hold
                  anything with two hands, and you can hold only a
                  single object at a time. Magic such as the regenerate
                  spell can restore the lost appendage.
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>
                  Lose a Foot or Leg. Your speed on foot is halved,
                  and you must use a cane or crutch to move unless
                  you have a peg leg or other prosthesis. You fall
                  prone after using the Dash action. You have
                  disadvantage on Dexterity checks made to balance.
                  Magic such as the regenerate spell can restore the
                  lost appendage.
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>
                  Limp. Your speed on foot is reduced by 5 feet. You
                  must make a DC 10 Dexterity saving throw after
                  using the Dash action. If you fail the save, you fall
                  prone. Magical healing of 3rd level or higher removes the limp.
                </td>
              </tr>
              <tr>
                <td>5-6</td>
                <td>
                  Internal Injury. Whenever you attempt an action
                  in combat, you must make a DC 15 Constitution
                  saving throw. On a failed save, you lose your action
                  and can't use reactions until the start of your next
                  turn. The injury heals if you receive magical healing of 3rd level or higher,
                  or if you spend ten days doing nothing but resting.
                </td>
              </tr>
              <tr>
                <td>7</td>
                <td>
                  Brain Damage. Your intelligence score is permanently reduced by 1 and you have
                  disadvantage on intelligence saving throws.  Magic such as the regenerate
                  spell can restore the damaged brain tissue.
                </td>
              </tr>
              <tr>
                <td>8-9</td>
                <td>
                  Broken Ribs. This has the same effect as Internal
                  Injury above, except that the save DC is 10.
                </td>
              </tr>
              <tr>
                <td>10</td>
                <td>
                  Crushed vocal chords.  You have disadvantage on all charisma checks that involve speaking
                  or singing.  Magical healing of 3rd level or higher can heal the damage.
                </td>
              </tr>
              <tr>
                <td>11-12</td>
                <td>
                  Horrible Scar. You are disfigured to the extent that
                  the wound can't be easily concealed . You have
                  disadvantage on Charisma (Persuasion) checks
                  and advantage on Charisma (Intimidation) checks.
                  Magical healing of 6th level or higher, such as heal
                  and regenerate, removes the scar.
                </td>
              </tr>
              <tr>
                <td>13</td>
                <td>
                  Blood Infection.  Your wound became infected and later turned into a chronic blood infection.  You
                  appear ill to all those around you, and can become delirious at moments of stress.  You are effectively
                  poisoned, and have disadvantage on all attack rolls and ability checks.  Additionally, your constitution score
                  is permanently reduced by 1 each day that the infection continues.  If it reaches 0, you die. The infection can be
                  cured with a remove disease effect from a paladin's lay-on-hands ability, or with magical healing of 3rd level or higher.
                </td>
              </tr>
              <tr>
                <td>14-16</td>
                <td>
                  Festering Wound. Your hit point maximum is
                  reduced by 1 every 24 hours the wound persists.
                  If your hit point maximum drops to 0, you die.
                  The wound heals if you receive magical healing of 3rd level or higher.
                  Alternatively, someone can tend to the wound and
                  make a DC 15 Wisdom (Medicine) check once every
                  24 hours. After ten successes, the wound heals.
                </td>
              </tr>
              <tr>
                <td>17-20</td>
                <td>
                  Minor Scar. The scar doesn't have any adverse
                  effect. Magical healing of 6th level or higher, such
                  as heal and regenerate, removes the scar.
                </td>
              </tr>
            </table>
          </div>
          <div id="refactions">
            
          </div>
          <div id="refequipment">
            
          </div>
          <div id="refvarious">
            
          </div>
        </div>
        <!--Conditions, Injuries, Spells, Actions, Cover-->
      </div>
      <div class="app" id="encounterDifficulty" data-ng-controller="encounterDifficulty" data-ng-init="init()">
        <h2>Number of Creatures needed for an appropriate challenge at party level</h2>
        <h3>Party</h3>
        <div class="row" data-ng-repeat="character in party">
          <div class="col-sm-7 form-group">
            <label>Character</label>
            <input type="text" data-ng-model="character.name" class="form-control" />
          </div>
          <div class="col-sm-3 form-group">
            <label>Level</label>
            <input type="number" data-ng-model="character.level" class="form-control" />
          </div>
          <div class="col-sm-2">
            <input type="button" value="Remove" data-ng-click="removecharacter(character)" style="margin-top: 25px;" class="btn btn-danger" />
          </div>
        </div>
        <input type="button" value="Add Character" data-ng-click="addcharacter()" class="btn btn-primary" />
        <input type="button" class="btn btn-success" value="Calculate" data-ng-click="calculate()" />
        <table class="table table-striped">
          <thead>
            <tr>
              <th>CR</th><th>Easy</th><th>Medium</th><th>Hard</th><th>Deadly</th>
            </tr>            
          </thead>
          {% verbatim %}
          <tbody>
            <tr>
              <th>Thresholds</th><td>{{Threshold[0]}}</td><td>{{Threshold[1]}}</td><td>{{Threshold[2]}}</td><td>{{Threshold[3]}}</td>
            </tr>
            <tr data-ng-repeat="row in resulttable">
              <td>{{row[0]}}</td><td>{{row[1]}}</td><td>{{row[2]}}</td><td>{{row[3]}}</td><td>{{row[4]}}</td>
            </tr>
          </tbody>
          {% endverbatim %}
        </table>
      </div>
      <div class="app" id="initTracker" data-ng-controller="initTracker" >
        <h3>Initiative Tracker</h3>
        <div class="form-group">
          <label>Name <input type="text" data-ng-model="character.name" class="form-control"/></label>
        </div>
        <div class="form-group">
          <label>Mod <input type="number" data-ng-model="character.mod" class="form-control" /></label>
        </div>
        <div>
          <input class="btn btn-primary" style="margin:5px;" data-ng-click="addChar()" type="button" value="Add Character" />
          <input class="btn btn-warning" style="margin: 5px;" data-ng-click="addAndRoll()" type="button" value="Add to Existing Initiative" />
          <input class="btn btn-success" style="margin:5px;" data-ng-click="rollInit()" type="button" value="Roll Initiative" />     
        </div>

        <table class="table table-striped">
          <tr>
            <th>Name</th><th>Modifier</th><th>Initiative</th><th>Delete</th>
          </tr>
          <tr data-ng-repeat="character in characters">
            <td data-ng-bind="character.name"></td><td data-ng-bind="character.mod"></td><td data-ng-bind="character.init"></td>
            <td>
              <input type="button" class="btn btn-danger" value="Delete" data-ng-click="deleteChar(character)" />
            </td>
          </tr>
        </table>
      </div>
      <div class="app" id="dmJournal" data-ng-controller="dmJournal" data-ng-init="init()">
        <h3>DM Journal</h3>
        <script>
          var getJournalsRoute = "{{ path('get_journals', {'userid': app.user.id}) }}";
          var addJournalRoute = "{{ path('add_journal', {'userid': app.user.id}) }}";
          var deleteJournalRoute = "{{ path('delete_journal', {'userid': app.user.id, 'journalid': 0}) }}";
        </script>
        
        <div class="form-group" >
          <label>Date</label>
          <br />
          <input type="number" class="form-control" style="width: 75px; float: left; margin-right: 5px;" min="1" max="40" data-ng-model="thisJournal.date.day" />
          <select class="form-control" style="width:200px; float: left; margin-right: 5px;" data-ng-model="thisJournal.date.month" data-ng-options="c.name for c in months"></select>
          <input class="form-control" style="width:100px; float: left; margin-right: 5px;" type="number" min="0" max="2000" data-ng-model="thisJournal.date.year" />
        </div>
        <div class="form-group" style="clear:left;">
          <label>Text</label>
          <textarea class="form-control" data-ng-model="thisJournal.text"></textarea>
        </div>
        <input type="button" data-ng-click="addJournal()" value="Save" class="btn btn-primary" />
        <hr />
        <div style="margin:10px;" data-ng-repeat="journal in journals">
          <p>
            <span data-ng-bind="journal.date"></span> <input type="button" data-ng-click="deleteJournal(journal.id)" class="btn btn-danger" value="Delete" />
          </p>
          
          <pre data-ng-bind="journal.text"></pre>
        </div>
      </div>
      <div class="app" id="diceRoller" data-ng-controller="diceRoller">
        <h3>Dice Roller</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>d2<input type="number" class="form-control" data-ng-model="numD2" /></label>
            </div>        
            <div class="form-group">
              <label>d4 <input type="number" class="form-control" data-ng-model="numD4" /></label>
            </div>        
            <div class="form-group">
              <label>d6 <input type="number" class="form-control" data-ng-model="numD6" /></label>
            </div>        
            <div class="form-group">
              <label>d8 <input type="number" class="form-control" data-ng-model="numD8" /></label>
            </div>
            <div class="form-group">
              <label>+ <input type="number" class="form-control" data-ng-model="staticMod" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>d10 <input type="number" class="form-control" data-ng-model="numD10" /></label>
            </div>
            <div class="form-group">
              <label>d12 <input type="number" class="form-control" data-ng-model="numD12" /></label>
            </div>
            <div class="form-group">
              <label>d20 <input type="number" class="form-control" data-ng-model="numD20" /></label>
            </div>
            <div class="form-group">
              <label>d100 <input type="number" class="form-control" data-ng-model="numD100" /></label>
            </div>
            <div class="btn-group">
              <input type="button" class="btn btn-default" value="Roll" data-ng-click="rollDice()" />
              <input type="button" class="btn btn-default" value="Roll Character Ability Scores" data-ng-click="rollChar()" />
            </div>
          </div>
        </div>
        <h5 data-ng-bind="results"></h5>
      </div>
      <div class="app" id="dungeonMap" data-ng-controller="dungeonMap" style="display: none">
        <h3>Dungeon Map</h3>
      </div>
    </div>
  </div>
</div>
{% endblock %}

      {% block javascripts %}
        <script src="{{asset('jquery/1.11.3/jquery.min.js', 'cdn')}}"></script>
        <script src="{{asset('jqueryui/1.11.4/jquery-ui.min.js', 'cdn')}}"></script>
        <script src="{{asset('angularjs/1.4.2/angular.min.js', 'cdn')}}"></script>
        {% javascripts '@AppBundle/libraries/*'
                       '@AppBundle/js/tools.js'
                       output='js/script-tools.js'%}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% endblock %}