{% extends 'base.html.twig' %}
{% block seo %}
	<meta name="description" content="Dungeon Master's Toolset designed with the Elthelas Campaign Setting in mind.
  Includes initiative roller, dungeon master's dashboard, campaign journal, and character creator tool (for use with the dashboard)" />
	<meta name="keywords" content="dungeons, dragons, elthelas, campaign, setting, 5th edition, custom, tools, initiative, dashboard, journal, creator" />
  <style type="text/css">

  </style>
{% endblock %}

{% block body %}
<script>
  var spells = {{ spells|raw }};
</script>
<div data-ng-app="spellbook" class="container-fluid">
  <div class="app" id="spellbook" data-ng-controller="spellbook" data-ng-init="init()">
    <div id="refspells">
      <h3>Spells</h3>
      <table id="spelltable"></table>
		  <input type="button" value="Load Spell" data-ng-click="loadspell()" />
      <div ng-if="loadedspell !== ''" id="selectedspell">
        {% verbatim %}
          <h2>{{loadedspell.title}}</h2>
          <p><strong>{{loadedspell.school}} {{loadedspell.level}} <span ng-if="loadedspell.ritual">(ritual)</span></strong></p>
          <p>Source: {{loadedspell.source}}</p>
          <p>Casting Time: {{loadedspell.castingTime}}</p>
          <p>Range: {{loadedspell.range}}</p>
          <p>Components: {{loadedspell.components}}</p>
          <p>Duration: {{loadedspell.duration}}</p>
          <div ng-bind-html="loadedspell.description"></div>
        {% endverbatim %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('jquery/3.1.0/jquery.min.js', 'cdn')}}"></script>
    <script src="{{asset('jqueryui/1.12.1/jquery-ui.min.js', 'cdn')}}"></script>
    <script src="{{asset('angularjs/1.5.7/angular.min.js', 'cdn')}}"></script>
    {% javascripts '@AppBundle/libraries/*'
                   '@AppBundle/js/spellbook.js'
                    output='js/script-spellbook.js'%}
    <script src="{{ asset_url }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.0/angular-sanitize.min.js"></script>
    {% endjavascripts %}

{% endblock %}