{% extends 'AppBundle:history:index.html.twig' %}
{% block body %}
	<article>

		<article>
		<h3>Major Historical Events</h3>
		<ul>
				<li><a href="{{path('history_gods_war')}}">God's War</a></li>
				<li><a href="{{path('history_mithril_wars')}}">Mithril Wars</a></li>
				<li><a href="{{path('history_moon_elf_rebellion')}}">Moon Elf Rebellion</a></li>
				<li><a href="{{path('history_unification_wars')}}">Unification Wars</a></li>
				<li><a href="{{path('history_imperial_schism')}}">Imperial Schism</a></li>
				<li><a href="{{path('history_fall_of_dera')}}">Fall of Dera</a></li>
				<li><a href="{{path('history_nerim_cataclysm')}}">Nerim Cataclysm</a></li>
		</ul>
	</article>

{% endblock %}
